html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* ----------- FIRST OPTION -----------*/

.main{
    position: relative;
}

.main .section{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.main #section1{
    background-image: url('../img/img-01.jpg');
}
.main #section2{
    background-image: url('../img/img-02.jpg');
}
.main #section3{
    background-image: url('../img/img-03.jpg');
    background-attachment: fixed; /*cool effect: image stayed on this part*/
    height: 400px;
}
.main #section4{
    background-image: url('../img/img-04.jpg');
}

/* ----------------------------------- */


/* ----------- SECOND OPTION -----------*/

/* 
.main{
    display: grid;
    grid-auto-rows: 100vh;
}

.main .section{
    background-size: cover;
    background-position: center center;
}

.main #section1{
    background-image: url('../img/img-01.jpg');
}
.main #section2{
    background-image: url('../img/img-02.jpg');
}
.main #section3{
    background-image: url('../img/img-03.jpg');
    background-attachment: fixed; 
    height: 400px;
}
.main #section4{
    background-image: url('../img/img-04.jpg');
} */

/* ----------------------------------- */